@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.row {
    display: flex;
    align-items: center;
    margin: 0 -1.25%;
}

.column {
    margin: 1.25%;
    width: 22.5%;
    min-width: 219px;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 -12px;

}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline-block;
    margin: 0 12px;

}

.header-top {
    margin: 0px -15px;
    background-color: #1f1f56;
    padding: 15.5px 0;
}

.top-menu a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;

}

.top-menu a:hover {
    color: #fd8300;
}

.social a {
    display: block;
    background: url(../img/sprite.png) no-repeat;
    transition: all 1s ease;

}

a.fb {
    width: 10px;
    height: 19px;
    background-position: -2px 0;
}

a.fb:hover {
    background-position: -2px -20px;

}

a.tw {
    width: 18px;
    height: 15px;
    background-position: -16px 0;
}

a.tw:hover {
    background-position: -15px -20px;

}

a.inst {
    width: 19px;
    height: 19px;
    background-position: -36px 0;
}

a.inst:hover {
    background-position: -35px -20px;

}

.phones,
.mails {
    padding-left: 47px;
}

.phones a,
.mails a {
    position: relative;
}

.phones a:before,
.mails a:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 2px;
    background-image: url(../img/sprite.png);
}

.phones a {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}

.tel:before {
    width: 16px;
    height: 17px;
    background-position: -82px -20px;
}

.email {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
}

.email:before {
    width: 17px;
    height: 14px;
    background-position: -102px -20px;
}

.skype {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
}

.skype:before {
    width: 18px;
    height: 19px;
    background-position: -61px -20px;
}

.button-call {
    text-align: right;
}

.button-call a {
    padding: 15px 27px;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: background-color .25s ease;
}

.button-call a:hover {
    background-color: #fd8300;
    border-color: #25252c;
}

.main-picture {
    padding: 68px;
    background: url(../img/mainbg.png) center/cover;
}

.offer {
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.offer p {
    margin: 0;
}

.money {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
}

.money i {
    font-size: 40px;
    font-style: normal;

}

.money sup {
    font-size: 0.6em;
}

.offer b {
    font-size: 30px;
    letter-spacing: 2px;
    font-family: "Roboto Slab";
}

.main {
    display: flex;
    padding-top: 37px;
}

.section {
    margin: 0;
    max-width: 670px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;

}

h1 {
    font-size: 30px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.section a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
}

.section a:hover {
    text-decoration: none;
}

.works {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

.works figure {
    position: relative;
}

.works a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.works a:hover~span {
    text-decoration: underline;
}

.works span {
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none;
}

.works p {
    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
}

figcaption sup {
    font-size: 0.6em;
}

.aside {
    margin: 0;
    display: block;
}

.aside p {
    margin: 0;
    padding: 10px 15px;
    background-color: #1f1f56;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.aside ul {
    background-color: #e4e4ec;
    list-style: none;
    padding: 0;
}

.aside li {}

.aside a {
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
}

.aside a:hover {
    background-color: #fd8300;
    color: #fff;

}

.footer-top {
    background-color: #ededf5;

}

.nav-bot {
    display: flex;
    justify-content: space-around
}

.menu {
    display: flex;
    justify-content: space-around;

}

.nav-bot ul {
    list-style: none;

}

.nav-bot li>a {
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    text-decoration: none;
}

.nav-bot li>a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.footer-bot {
    background-color: #dcdce6;
    color: #9999a6;
    text-align: center;
    margin: 0;
    padding: 0;
}